doctype html5
html
  include ./partials/head
  body
    include ./partials/header

    .container
      div.jumbotron.text-center
        h1 FrontAnt (Static)
        p For simple front-end development
        .main-logo
        p
          a.btn.btn-primary.btn-lg(role='button' href='/about.html') Read about

    include ./partials/footer
